.googleform-wrapper {
    position: relative;
    width: 100%;
    height: 1000px;
    /* overflow-y: scroll; */
}

.googleform-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
